# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\91880\AppData\Roaming\JetBrains\DataGrip2021.1\projects\QIMA\.idea/dataSources/
/dataSources.local.xml
